.container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.modal-header {
  text-align: center;
  background-color: lightgray;
}

textarea {
  width: 100%;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#title {
  width: 100%
}

#category {
  width: 100%;
}

.add-btn {
  margin-top: 30px;
  margin-left: 10px;
  height: 40px;
  width: 97%;
}
